<html>
<head>
<title>CodeChef API</title>
<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<style>
	body{
		background: #55575c url(static/bg.jpg);
		font-family: 'Exo 2',sans-serif;
		text-align:center;
		color: #fff;
	}
	#container{
		margin-top:120px;
	}
	.example{
		display: block;
	}
	a{
		color:#fff;

	}
	a:hover{
		color: #f00;
		text-decoration: none;
	}
	.desc{
		display: block;
		margin-top:30px;
	}
	.rule{
		color: white;
	}
	.footer{
		margin-top: 100px;
	}


</style>
</head>
<body>
<div id="container">
<h1 class="heading">CodeChefAPI</h1>
<h3 class="oneline">An API for Codechef.com</h3>
<div class="mainbox">
		<span class="desc">Fetch ranks and ratings through simple GET requests</span>
		<br />
		<span class="example"><a href="/ranks/acrush" target="_blank">codechefapi.herokuapp.com/ranks/acrush</a></span>

		<span class="desc">More to be added soon</span>
		
		
</div>

</div>
<div class="footer"><hr class="rule" />
Made during hackathon at <a href="http://www.pizzahackers.org" target="_blank">PizzaHacker</a>.
<div class="license"><a href="http://www.github.com/avckp/codechefapi" target="_blank">No Rights Reserved</a></div>
<div class="reachme"> 
	<span class="twitter"><a href="http://twitter.com/avckp">@avckp</a></span>
	<span class="fb"><a href="http://facebook.com/avckp">fb.com/avckp</a></span>
	<span class="wp"><a href="http://knowmix.wordpress.com">blog</a></span>
</div>


</div>

</body>
</html>